{% load static %}

<!doctype html>
<html lang="es">
  <head>

    <title>Django App</title>
    <link rel="stylesheet" type="text/css" href="{% static  '/css/style.css' %}?after" />
    <link rel="stylesheet" type="text/css" href="{% static  '/css/button.css' %}?after"/>
    <link rel="stylesheet" type="text/css" href="{% static  '/css/projects.css' %}?after"/>
    <link rel="stylesheet" type="text/css" href="{% static  '/css/spinner.css' %}?after"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <style>

  * { padding: 0; margin: 0; }

  </style>
  <body>
    {% include 'core/navbar.html' %}
    {% include 'core/spinner.html' %}
  

    <div class="content">
      {% block content %} 


      {% endblock %}</div>
  </body>
</html>
