.mx-2 {
    margin-left: 2px;
    margin-right: 2px;
}

.mx-4 {
    margin-left: 4px;
    margin-right: 4px;
}

.my-2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.my-4 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.px-2 {
    padding-left: 2px;
    padding-right: 2px;
}

.px-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.flex-container {
    display: flex;
}

.right-align {
    margin-left: auto;
}

.hover-cursor {
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.hover-dark:hover {
    background-color: gray
}

.hover-cursor:hover {
    cursor: pointer;
}

body{
    margin: 0px;
    padding: 0px;
}

input {
    border: 1px solid #ccc; /* Border style */
    padding: 8px; /* Inner padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: border-color 0.3s ease; /* Border color transition effect */
    font-size: 16px; /* Font size */
  }
  
  /* Input styles on focus */
  input:focus {
    border-color: #007bff; /* Border color on focus */
    outline: none; /* Remove focus outline */
  }





.content{
    margin: 8px;
}

.navbar{
    background-color: #eee;
    font-weight: bold;
    padding: 5px;
    display: flex;
    gap: 20px;
    justify-content: left;
}

.navbar-item{
    text-decoration: none;
    background-color: #eee;
    border-radius: 8px;
    font-size: 20px;
    padding: 4px;
    color: black;
}

.navbar-item:hover {
    filter: brightness(80%); /* 어둡게 만듦 */
}
