
{% extends 'core/base.html' %} {% block content %}


<!-- Detail -->
<h2> Detail </h2>
<div class="project-detail">
    <div>ID: {{project.id |default:'id'}}</div>
    <div>Title: {{project.name |default:'title'}}</div>
    <div>Description: {{project.description |default:"description" }}</div>
    <div>Created: {{project.created_at |date:"Y-m-d h:m" |default:"created_at" }}</div>
    <div>Created User id: {{project.created_user_id |default:"created_user_id" }}</div>

    <div>{{project.created_user_name |default:"created_user_name" }} </div> 

    
    <h3>Schedule</h3>
    <div class="plan-date">
        <div class="date start">{{project.start_date |date:"Y-m-d"  |default:"2000-01-01" }}</div>
        <div class="mx-4">~</div>
        <div class="date end">{{project.end_date |date:"Y-m-d" |default:"2999-01-01" }}</div>
    </div>
    
</div>

<style></style>

<!-- Task Box -->





<!-- New Task -->
<h2>Create Task</h2>
<form action="{% url 'task_add' %}" method="post">
    {% csrf_token %}
    <input name="parent_project_id"  type="number" value="{{project.id |default:'id'}}" hidden>
    <input type="text" name="title" placeholder="Task Title">
    <input name="plan_date" type="date"  value="{{ today|date:'Y-m-d' }}">
    <button class="button blue" type="submit">Done</button>
</form>

<h2>Task List</h2>
<div class="project-tasks-box"">
    <div class="project-tasks">

        <div class="task-timeline">
            {% if task.is_completed %}
            <div class="task completed">
            {% else %}
            <div class="task notcompleted">
            {% endif %}

                <div class="task-item">
                    <input hidden type="number" name='id' value="{{task.id}}" >
                    <div class="plan_date">{{task.plan_date  |date:"y-m-d"  |default:"00-01-01" }}</div>
                    <div class="title">{{task.title |default:"task_title" }}</div>
                </div>
                <div class="task-item toolbox" style="margin-left: auto;">
                    {% if task.is_completed %}
                    <div class="tool hover-cursor hover-dark px-4 check-btn completed" >&check;</div>
                    {% else %}
                    <div class="tool hover-cursor hover-dark px-4 check-btn notcompleted" >&xcirc;</div>
                    {% endif %}
                    <div class="tool hover-cursor hover-dark px-4 delete-btn">&#128939;</div> 
                    <div class="tool hover-cursor hover-dark px-4">&#x2026;</div>
                </div>
            </div>
        </div>

        <div class="task-timeline">
            {% if task.is_completed %}
            <div class="task completed">
            {% else %}
            <div class="task notcompleted">
            {% endif %}

                <div class="task-item">
                    <input hidden type="number" name='id' value="{{task.id}}" >
                    <div class="plan_date">{{task.plan_date  |date:"y-m-d"  |default:"00-01-01" }}</div>
                    <div class="title">{{task.title |default:"task_title" }}</div>
                </div>
                <div class="task-item toolbox" style="margin-left: auto;">
                    {% if task.is_completed %}
                    <div class="tool hover-cursor hover-dark px-4 check-btn completed" >&check;</div>
                    {% else %}
                    <div class="tool hover-cursor hover-dark px-4 check-btn notcompleted" >&xcirc;</div>
                    {% endif %}
                    <div class="tool hover-cursor hover-dark px-4 delete-btn">&#128939;</div> 
                    <div class="tool hover-cursor hover-dark px-4">&#x2026;</div>
                </div>
            </div>
        </div>

        {% for task in tasks %}
        <div class="task-timeline">
            {% if task.is_completed %}
            <div class="task completed">
            {% else %}
            <div class="task notcompleted">
            {% endif %}

                <div class="task-item">
                    <input hidden type="number" name='id' value="{{task.id}}" >
                    <div class="plan_date">{{task.plan_date  |date:"y-m-d"  |default:"00-01-01" }}</div>
                    <div class="title">{{task.title |default:"task_title" }}</div>
                </div>
                <div class="task-item toolbox" style="margin-left: auto;">
                    {% if task.is_completed %}
                    <div class="tool hover-cursor hover-dark px-4 check-btn completed" >&check;</div>
                    {% else %}
                    <div class="tool hover-cursor hover-dark px-4 check-btn notcompleted" >&xcirc;</div>
                    {% endif %}
                    <div class="tool hover-cursor hover-dark px-4 delete-btn">&#128939;</div> 
                    <div class="tool hover-cursor hover-dark px-4">&#x2026;</div>
                </div>
            </div>
        </div>
        
        {% endfor %}

        <script>
            var csrftoken = '{{ csrf_token }}';


            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $(document).ready(function(){
                $('.check-btn').click(function(){
                    var taskID = $(this).closest('.task').find('input[name="id"]').val();
                    console.log(taskID)
                    showSpinner()
                    $.ajax({
                            url: '/projects/tasks/complete',
                            type: 'POST',
                            data: {
                                id: taskID
                            },

                            success: function(response){
                            if (!response.success) {
                                alert('Error:' + response.message);
                            }
                            if (response.success) {
                                location.reload(); 
                            }
                            },
                            error: function(xhr, status, error){
                                console.error('Error deleting task:', error);
                                alert('Error deleting task: ' + error);
                            },
                            complete: function() {
                                hideSpinner();
                            }
                    });

                })
            })


            $(document).ready(function(){
                $('.delete-btn').click(function(){
                    var taskID = $(this).closest('.task').find('input[name="id"]').val();
                    var taskPlanDate = $(this).closest('.task').find('.plan_date').text();
                    var taskTitle = $(this).closest('.task').find('.title').text();

                    var confirmDelete = confirm('Are you sure you want to delete this task?');

                    if (confirmDelete) {                    
                        showSpinner()
                        $.ajax({
                            url: '/projects/tasks/delete',
                            type: 'POST',
                            data: {
                                plan_date: taskPlanDate,
                                title: taskTitle,
                                id: taskID
                            },

                            success: function(response){
                            if (!response.success) {
                                alert('Error:' + response.message);
                            }
                            if (response.success) {
                                console.log('Task deleted successfully.');
                                alert('Task deleted successfully.');
                                location.reload(); 
                            }
                            },
                            error: function(xhr, status, error){
                                console.error('Error deleting task:', error);
                                alert('Error deleting task: ' + error);
                        },
                        complete: function() {
                                hideSpinner();
                            }
                    });
                
                }
                });
            });
            </script>
    </div>
</div>

{% endblock %}