{% extends 'core/base.html' %} {% block content %}

<h2>Project List</h2>

<a class="button red" href="{% url 'project_create' %}">New Project</a>

<br>

<a class="button blue" href="{% url 'create_table_project' %}">Demo Data Project</a>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% if projects %}
                {% for project in projects %}
                    <tr>
                        <td>{{ project.id | default:'ID' }}</td>
                        <td>{{ project.created_user_name | default:'created_user_name' }}</td>
                        <td><a href="{% url 'project_detail' %}?id={{ project.id }}">{{ project.title | default:"title" }}</a></td>
                        <td>{{ project.description | default:"description" }}</td>
                        <td>{{ project.created_at| default:"Created "|date:"Y-m-d H:i" }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">There is no project</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
